body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  margin: 0;
}


.content {
  background: url("images/bg-pattern-desktop.svg");
  background-size: contain;
  width: 100%;
  display: flex;
}


.picture {
  width: 42%;
}

.box {
  width: 58%;
}

.text {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin: 4rem auto;
}

.heading {
  font-size: 65px;
  letter-spacing: 15px;
  margin: 8rem auto 2rem;
  line-height: 1.2;
  font-weight: 600;
}

span {
  color: hsl(0, 36%, 70%);
  font-weight: 200;
}
