body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  margin: 0;
}

span {
  color: hsl(0, 36%, 70%);
  font-weight: 200;
}

::placeholder {
  color: hsl(0, 36%, 70%);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}

.content {
  width: 100%;
  display: flex;
  background: url("images/bg-pattern-desktop.svg");
  background-size: cover;
}

.picture {
  width: 38rem;
  height: 100%;
}

.box {
  width: 58%;
}

.text {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin: 4rem auto;
}

.logo {
  width: 10rem;
}

.heading {
  font-size: 65px;
  letter-spacing: 17px;
  margin: 8rem auto 1rem;
  font-weight: 600;
}

.explanation {
  color: hsl(0, 36%, 70%);
  line-height: 2;
  width: 28rem;
}

.register {
  width: 25rem;
  margin-top: 3rem;
  padding: 0.2rem;
  padding-left: 1rem;
  border-radius: 30px;
  border: solid 1px hsl(0, 36%, 70%);
  outline: none;
  background-color: hsl(0, 100%, 98%)
}

.email {
  width: 60%;
  padding: 1rem;
  border: none;
  outline:none;
  background-color: inherit;
  display: inline-block;
}

.register-btn {
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  width: 6.2rem;
  border: none;
  padding: 1rem;
  border-radius: 30px;
  text-align: center;
  display: inline-block;
  position: relative;
  left: 21.5rem;
  bottom: 3.5rem;
  box-shadow: 1px 10px 20px 1px hsl(0, 80%, 86%);
}
