body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  margin: 0;
}

span {
  color: hsl(0, 36%, 70%);
  font-weight: 200;
}

label {
  position: relative;
  right: 4.5rem;
  bottom: 1rem;
  font-size: 13px;
  color: hsl(0, 74%, 74%);
  display: none;
}

::placeholder {
  color: hsl(0, 36%, 70%);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}

.content {
  width: 100%;
  display: flex;
}

.picture {
  width: 38rem;
  height: 100%;
}

.mobile-picture {
  display: none;
}

.box {
  width: 58%;
  background-color: hsl(0, 100%, 98%);
  background-image: url("images/bg-pattern-desktop.svg");
  mix-blend-mode: color;
  background-size: cover;
}

.text {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin: 4rem auto;
}

.logo {
  width: 10rem;
}

.heading {
  color: hsl(0, 6%, 24%);
  font-size: 65px;
  letter-spacing: 17px;
  margin: 8rem auto 1rem;
  font-weight: 600;
}

.explanation {
  color: hsl(0, 36%, 70%);
  line-height: 2;
  width: 28rem;
}

.register {
  width: 22rem;
  margin-top: 3rem;
  padding: 0.77rem;
  padding-left: 1rem;
  border-radius: 30px;
  border: solid 1px hsl(0, 36%, 70%);
  background-color: hsl(0, 100%, 98%);
  transition: 0.6s;
}

:focus {
  display: inline-block;
  outline-color: hsl(0, 36%, 70%);
  box-shadow: 0 0 0 2px hsl(0, 36%, 70%);
  border-radius: 2px;
}

.email {
  width: 60%;
  padding: 0.5rem;
  border: none;
  outline: none;
  background-color: inherit;
  display: inline-block;
}

.icon-error {
  width: 1.2rem;
  display: inline-block;
  position: relative;
  top: 0.4rem;
  right: -3rem;
  display: none;
}

.register-btn {
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  width: 6.4rem;
  border: none;
  padding: 1.2rem;
  border-radius: 30px;
  text-align: center;
  display: inline-block;
  position: relative;
  left: 21rem;
  bottom: 3.77rem;
  box-shadow: 1px 10px 20px 1px hsl(0, 80%, 86%);
  transition: 0.6s;
}

.register-btn:hover {
  transform: scaleY(1.2) perspective(1px);
  background: linear-gradient(135deg, hsl(0, 100%, 98%), hsl(0, 80%, 86%));
  cursor: pointer;
}

/* Tablet size */
@media (max-width:1200px) and (min-width:600px) {
  .picture {
    display: none;
  }

  .box {
    width: 100%;
  }

  .text {
    margin: 2rem auto;
  }

  .mobile-picture {
    display: inline-block;
    width: 85%;
    min-width: 380px;
  }

  .logo {
    width: 10rem;
    position: static;
    margin: 2rem 0 3rem;
  }

  .heading {
    margin-top: 3rem;
    margin-left: 0;
    width: 90%;
  }

  .explanation {
    width: 90%;
    min-width: 385px;
    max-width: 450px;
  }

  .register {
    width: 21rem;
  }

  .register-btn {
    position: relative;
    left: 19.6rem;
    bottom: 4rem;
  }

  .icon-error {
    width: 1rem;
    position: relative;
    top: 0.3rem;
    right: -2rem;
    display: none;
  }
}

/* Mobile phone size */
@media (max-width:600px) {
  body {
    min-width: 370px;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  }

  label {
    position: relative;
    left: 10%;
    bottom: 3rem;
    font-size: 12px;
    display: none;
  }

  .content {
    margin-bottom: 4rem;
  }

  ::placeholder {
    font-size: 14px;
  }

  .picture {
    display: none;
  }

  .logo {
    width: 6rem;
    margin-top: 2rem;
    margin-left: 2rem;
  }

  .box {
    background: none;
    width: 370px;
    margin: auto;
  }

  .text {
    width: 100%;
    margin: auto;
  }

  .mobile-picture {
    display: inline-block;
    margin-top: 2rem;
    width: 100%;
  }

  .explanation {
    width: 80%;
    text-align: center;
    font-size: 14px;
    line-height: 1.7;
    margin: auto;
  }

  .heading {
    width: 70%;
    text-align: center;
    font-size: 250%;
    margin: 4rem auto 2rem;
    letter-spacing: 10px;
  }

  .register {
    width: 17rem;
    margin: 1.9rem auto;
    padding: 0.4rem;
    padding-left: 1rem;
  }

  .email {
    width: 60%;
    font-size: 14px;
    padding: 0.25rem;
    background-color: inherit;
    display: inline-block;
  }

  .register-btn {
    width: 4.3rem;
    padding: 0.8rem;
    left: 17rem;
    bottom: 5.08rem;
  }

  .icon-error {
    position: relative;
    top: 0.2rem;
    right: -0.5rem;
    display: none;
    width: 0.7rem;
  }
}
